<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="text-center">Add User</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">
            First Name
          </label>
          <input
            type="text"
            formControlName="firstname"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
          />
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">
              First Name is required
            </div>
            <div *ngIf="f.firstname.errors?.minlength">
              First Name must be at least 5 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="lastname"
            formControlName="lastname"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
          />
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last name is required</div>
            <div *ngIf="f.lastname.errors?.minlength">
              Last Name must be at least 5 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
          <span [ngStyle]="{ color: 'red' }" *ngIf="emailError"
            >*{{ emailError }}</span
          >
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
